body{
  font-family: 'Asap', Arial, Helvetica, sans-serif;
  color:red;
  background: black url(../img/drupal.jpg) no-repeat 0% 0px;
  /*background:black url(//s3-us-west-2.amazonaws.com/s.cdpn.io/16327/texture_bg.jpg) no-repeat 50% 0px;*/
  margin:25px;
  overflow:hidden;
}

#quote{
  font-size:80px;
  line-height:80px;
  color:#dedede;
  width: 700px;
  height: 399px;
  text-align: center;
}
#intro{
  font-size:50px;
  line-height:80px;
  color:#dedede;
  width: 700px;
  height: 399px;
  text-align: center;
      position: absolute;
    top: 126px;
}

button {
  padding:10px;
  margin: 20px 0;
}

.superShadow {
  text-shadow:     0 1px 0 hsl(174,5%,80%),
                     0 2px 0 hsl(174,5%,75%),
                     0 3px 0 hsl(174,5%,70%),
                     0 4px 0 hsl(174,5%,66%),
                     0 5px 0 hsl(174,5%,64%),
                     0 6px 0 hsl(174,5%,62%),
                     0 7px 0 hsl(174,5%,61%),
                     0 8px 0 hsl(174,5%,60%),
    
                     0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.3);
                  color: red;
}

div#visit {
    font-size: 30px;
    width: 300px;
    font-weight: bold;
    text-align: center;
}

div#blp {
    font-size: 40px;
    width: 300px;
    border: solid;
    font-weight: bold;
    text-align: center;
}








h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}